@import "compass";

$primary-brand-color: #0077a2;
$body-font-color: #303030;
$body-background-color: darken(white, 1%);
$heading-color: #005e82;
$body-font-family: "Noto Sans", Arial, Helvetica, sans-serif;
$heading-font-family: "Raleway", Arial, Helvetica, sans-serif;

body {
    font-family: "Noto Sans", Helvetica, Arial, sans-serif;
    width: 100%;
    overflow-x: hidden;
}

html {
    @media screen and (max-width: 1024px) {
        font-size: 90%;
    }
}

body {
    font-family: $body-font-family;
    color: $body-font-color;
    background: $body-background-color;

}



h1 {
    font-family: $heading-font-family;
    font-weight: 800;
}

h2, h5, h6,h3, h4 {
    font-family: $heading-font-family;
    font-weight: 600;
}

h2, h3 {
    color: $heading-color;
}

.row{
    max-width: 960px;
}

/* Header */

.site-header {
    padding: 3em 0;
    h2 {
        font-size: 0.8rem;
    }
}

/* Primary Menu */

.primary-menu {
    padding-top: 2em;
    ul {
        margin-left: 0;
        float: right;
        @media screen and (max-width: 1024px) {
            float: none;
            text-align: center;
        }
        li {
            @include inline-block;
            margin-left: 0.2em;
            position: relative;
            @include transition(all 0.8s ease);
            &:hover > ul {
                display: block;
            }
            a {
                display: block;
                padding: 0.3em 0.7em;
            }
            &:hover a {
                color: white;
            }
            ul {
                display: none;
                position: absolute;
                left: 0;
                z-index: 99999;
                padding-left: 0;
                /*background:#eee;*/
                li {
                    margin-left: 0;
                    display: block;
                    ul {
                        min-width: 13em;
                        left: 100%;
                        top: 0;
                    }
                }
            }
        }
    }
}

.primary-menu ul ul {
    background: $heading-color;
    /*border: 2px solid $primary-brand-color;*/
}

.primary-menu li:hover {
    background: darken($primary-brand-color, 5%);
}

.main-navigation .current_page_item a,
.main-navigation .current-menu-item a {}

/* Hero Block */

.hero-wrapper {
    padding: 3em;
    background: $primary-brand-color;
    @include background-image(linear-gradient($primary-brand-color, $heading-color));
    /*background: @include linear-gradient($primary-brand-color,$heading-color);*/
    /*    @include box-shadow(0 0.5em 5em rgba(0,0,0,0.5) inset);*/
    /*background : linear-gradient(top bottom, rgba(0,0,0,0.5));*/
}

.hero {
    h1 {
        font-size: 2.5rem;
        line-height: 1.5;
        margin-bottom: 0;
        color: white;
    }
    p {
        font-size: 1.3rem;
        line-height: 1.5;
        color: whitesmoke;
    }
    .hero-img-wrapper {
        text-align: center;
    }
    .button.calltoaction:hover {
        background: whitesmoke;
        color: $primary-brand-color;
    }
    .hero-img {
        max-width: 200px;
    }
    @media screen and (max-width: 1024px) {
        text-align: center;
    }
}

/* Features Block */

.features {
    padding: 3em 0;
    text-align: center;
    h2 {
        margin-bottom: 1em;
    }
    ul {
        li {
            list-style-type: none;
            text-align: center;
            span.image-holder {
                @include inline-block;
                padding-bottom: 1em;
            }
            img {
                @include border-radius(50%);
            }
        }
    }
}

/* Flash Block */

.flash-block-wrapper {
    padding: 3em 0;
    background: darken(white, 80%);
    /*@include background-image(linear-gradient(darken(white,80%),darken(white,70%)));*/
}

.flash-block {
    text-align: center;
    color: white;
    h3 {
        text-transform: uppercase;
        color: white;
    }
}

/* Home Page Pre Footer */

.prefooter-wrapper {
    padding: 3em 0;
}

.home .blog-posts {
    a {
        color: $primary-brand-color;
        &:hover {
            border-bottom: 1px dotted currentColor;
        }
    }
    .blog-post-item {
        margin-bottom: 1em;
        p {
            margin-bottom: 0;
        }
    }
}

.home .latest-posts {
    li {
        margin-bottom: 1em;
    }
    span {
        display: block;
    }
    a {
        color: #258faf;
    }
}

/* Sidebar */

/* Footer */

.footer-wrapper {
    padding: 3em 0;
    background: #202020;
    color: darken(white, 50%);
}

.footer {
    .footer-menu ul {
        list-style-type: none;
        margin-left: 0;
        ul {
            display: none;
        }
        a {
            color: darken(white, 50%);
            &:hover {
                border-bottom: 1px dotted currentColor;
            }
        }
    }
    .footer-title {
        text-transform: uppercase;
        color: darken(white, 40%);
    }
}

.entry-header-wrapper {
    background: $heading-color;
    margin-bottom: 2em;
    h2 {
        color: white;
        font-size: 2.2rem;
        font-weight: bold;
    }
}

.widget ul {
    margin: 0;
}

.widget li {
    list-style-type: none;
}


.site-header {
        padding: 1.5em 0;
}


.widget h3 {
    font-size: 1.4rem;
}

header{
        h2{
            color: silver;
        }
}



.pagination {
    margin-bottom: 1em;
    .links.next {
        float: right;
    }
    .links.prev {
        float: left;
    }
    a {
        background: #eee;
        padding: 0.5em;
    }
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

section.tutorial_by_parts {
    position: relative;
}
div.toc-trigger {
content: "TOC";
display: block;
position: absolute;
left: -41px;
top: 0px;
width: 35px;
height: 35px;
background: #0077a2;
font-size: 25px;
/* padding: 0.5em; */
color: white;
text-align: center;
cursor: pointer;
padding-top: 4px;
@include opacity(0.1);

@include transition(all 0.5s ease);
&:hover{
    @include opacity(1);
}
}

.toc{
    position:fixed;
    top: 50%;
    left: 0em;
    width: 200px;
    display:none;
    @include transform(translateY(-50%));
    z-index: 1;

ul{
    margin-left: 0;
}
    li{
        list-style-type: none;
    }

    p{
        padding-top:20px;
        margin-bottom: 5px;
    }
}

.close-toc{
    float:right;
    cursor: pointer;
}

.nav-links{
    border-top: 1px solid #eee;
padding: 0.5em 0.5em;
}

 .page h2.entry-title:before,
.page h2.entry-title:after,
.page-heading:before,
.page-heading:after
 {
content: "";
background: #005e82;
width: 9999px;
height: 100%;
position: absolute;
padding: 5px 0;
top:0;
bottom:0;

}

.page h2.entry-title:before, .page-heading:before{
    left: 100%;
}

.page h2.entry-title:after, .page-heading:after{
    right: 100%;
}
.page h2.entry-title , .page-heading{
color: white;
position: relative;
background: #005e82;
padding: 5px 0 7px;
font-size: 2.2rem;
font-weight: bold;
margin-bottom:1em;

}

.sidebar-custom{
    margin-top:  6.25em;
}


.entry-meta{

display: inline-block;
padding: 0 0.5em;
/* border-radius: 5px; */
margin-left: 0;
margin-bottom: 0.5em;
font-style:italic;

}

.entry-footer{
    span{
        padding: 0 0.5em;
        font-style:italic;
         background: #ddd;
        @include inline-block();
        margin-right: 1em;
    }
}

.blog .hentry{
    background: #eee;
    padding: 1em;

}

